

<section>
  <ul>
      <h3><%= book.title %></h3>
      <span><%= book.author %></span>
      <li data-book-id="<%= book.isbn %>"></li>
      <p class="desc"><%= book.description %></p> 
  </ul>
</section><img src=<%= book.image_url %>>
   